.about-container {
  display: grid;
  grid-template-columns: 40% 0.5fr 1fr 10%;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 2em 80px;
  gap: 1em 1em;
  grid-template-areas:
    ". . . ."
    "title-container avatar bio ."
    "title-container avatar bio-background ."
    "title-container avatar skills ."
    ". . resume-dl ."
    ". . . ."
    "sticky-footer sticky-footer sticky-footer sticky-footer";
    @media (max-width: $lg)  {
      display: grid;
      grid-template-columns: 40% 1fr 5%;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 2em 80px;
      gap: 1em 1em;
      grid-template-areas:
        ". . ."
        "title-container bio ."
        "avatar bio-background ."
        "avatar skills ."
        ". resume-dl ."
        ". . ."
        "sticky-footer sticky-footer sticky-footer";
    }
    @media (max-width: $md)  {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 5% 0.5fr 1fr 1fr 1fr 1fr 1fr;
      gap: 1em 1em;
      grid-template-areas:
        "sticky-footer"
        "title-container"
        "avatar"
        "bio"
        "bio-background"
        "skills"
        "resume-dl";
    }

  h2 {
    font-family: "Poppins";
    font-size: 1.3em;
    font-weight: 600;
    letter-spacing: 3;
    margin-bottom: 0.3em;
  }
  p {
    font-family: "Poppins";
  }

  .title-container {
    display: flex;
    align-items: center;
    justify-content:flex-end;
    grid-area: title-container;
    @media (max-width: $lg)  {
      padding-left: 1em;
      padding-right: 1em;
    }
    @media (max-width: $md) {
      justify-content: center;
      width: initial;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .page-title {
    color: $primary;
    font-size: 7em;
    letter-spacing: 15;
    animation-duration: 4.5s;
    @media (max-width: $lg)  {
      letter-spacing: 3;
      font-size: 5em;
    }
    @media (max-width: $md) {
      letter-spacing: 0;
      font-size: 20vw;
      text-align: center;
      margin: 0;
    }
  }
  .avatar-container {
    grid-area: avatar;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: $lg)  {
      padding-left: 1em;
    }
    @media (max-width: $md)  {
      padding: 0 1em 0 1em;
    }
    .avatar-img {
      height: 20rem;
      width: 350px;
      img {
        border-radius: 10em;
        height: 100%;
        width: 100%;
        text-align: center;
        object-fit: cover;
        border-style: double;
        border-width: 11;
        color: rgb(180, 219, 219);
      }
    }
  }
  .bio { 
    grid-area: bio;
    background-color: rgb(224, 224, 224);
    border-radius: 0 1.5em 1.5em 0em;
    padding: 1em;
    animation-delay: 1s;
    animation-duration: 3.5s;
    h2 {
      color: $primary;
    }
    p {
      color: rgb(160, 160, 160);
    }
    @media (max-width: $md) {
      border-radius: 0;
      h2 {
        font-size: 2em;
      }
      p {
        font-size: 1.5em;
      }
    }
  }
  
  .background { 
    grid-area: bio-background; 
    background-color: rgb(189, 189, 189);
    border-radius: 0 1.5em 1.5em 0em;
    padding: 1em;
    animation-delay: 0.5s;
    animation-duration: 3.5s;
    h2 {
      color: rgb(186, 112, 143);
    }
    p {
      color: rgb(124, 124, 124);
    }
    @media (max-width: $md) {
      border-radius: 0;
      h2 {
        font-size: 2em;
      }
      p {
        font-size: 1.5em;
      }
    }
  }
  .skills { 
    grid-area: skills; 
    background-color: rgb(146, 146, 146);
    border-radius: 0 1.5em 1.5em 0em;
    padding: 1em;
    animation-duration: 3.5s;
    h2 {
      color: $text_accent;
    }
    p {
      color: #655858;
    }
    @media (max-width: $md) {
      border-radius: 0;
      h2 {
        font-size: 2em;
      }
      p {
        font-size: 1.5em;
      }
    }
  }
  .resume-dl {
    grid-area: resume-dl;
    display: flex;
    justify-content: center;
    animation-duration: 3.5s;
  }
  .sticky-footer {
    grid-area: sticky-footer;
    background-color: $secondary;
  }
}
