// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
$primary: #D8A1B3;
$secondary: #DBCECE;
$accent: #FFB8C5;
$background: #F1F0F0;
$text_primary: #747474;
$text_accent: #8d5564;

html {
  height: 100vh;
}

main {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5em;
  line-height: 1.25;
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto; 
}

.sticky-footer {
  grid-row-start: 2;
  grid-row-end: 3;
}


.home-container {
  .title-container {
    .page-title {
      color: $primary;
      font-family: 'Fredoka One', cursive;
    }
  }
}

#wrapper-navbar {
  display: flex;
  justify-content: center;
  background-color: $secondary;
  height: 100px;
  #main-nav {
    ul {
      li {
        a {
          color: $background;
          font-weight: 600;
        }
      }
    }
  }
}